.product-card {
  word-break: break-all;
  width: 200px;
  height: 300px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  transition: 0.33s cubic-bezier(0.3, 0, 0.5, 1);
  cursor: pointer;
}
.product-card img {
  max-width: 100%;
}
.product-card:hover {
  transform: scale(1.033);
  transition: 0.33s cubic-bezier(0.3, 0, 0.5, 1);
}
.product-card h3 {
  margin: 0;
}
.product-card img {
  height: 80px;
  width: auto;
}
