.button {
  width: 120px;
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.33s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  background-color: #f9f9f9;
  &:hover {
    background-color: darken(#f9f9f9, 5%);
    transition: background-color 0.33s cubic-bezier(0.3, 0, 0.5, 1);
  }
  &:active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transform: translateY(2px);
  }
  &:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
    transform: none;
  }
  &.error {
    background-color: #fab6b673;
    &:hover {
      background-color: darken(#fab6b673, 10%);
      transition: background-color 0.33s cubic-bezier(0.3, 0, 0.5, 1);
    }
  }
}
