.button {
  width: 120px;
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.33s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: #f9f9f9;
}
.button:hover {
  background-color: #ededed;
  transition: background-color 0.33s cubic-bezier(0.3, 0, 0.5, 1);
}
.button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transform: translateY(2px);
}
.button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
  transform: none;
}
.button.search {
  background-color: #b6e0fa;
}
.button.search:hover {
  background-color: #8ecff7;
  transition: background-color 0.33s cubic-bezier(0.3, 0, 0.5, 1);
}
.search-input {
  width: 70%;
  max-width: 400px;
  min-width: 100px;
  box-sizing: border-box;
  border: 1px solid #1b1f23;
  border-radius: 6px;
  box-shadow:
    rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.search-form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
